$black: #000;
$white: #fff;
$background: #f7f7f7;
$background-core: #ffffff html;
$arrow-background: #646791;
$player-container-border: #d7daed;
$transcript: #333333;
body > * {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}
