<div class="video-item_container">
    <app-video-title [title]="title" class="video-item_title">

    </app-video-title>
    <app-player *ngIf="clipId" [clipId]="clipId" class="video-item_player">
        <div class="player-container">
            <video width="304" #videoPlayer (click)="toggleVideo($event)">
                <source src="{{this.source}}" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        </div>
    </app-player>
    <app-transcript *ngIf="(transcript$ | async)  && currentLocation" [currentLocation]="currentLocation"
        [transcript]="transcript$ | async" class="video-item_transcripts">

    </app-transcript>
</div>