.video-item_container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 80px auto 237px;
  grid-template-columns: 260px auto 260px;
  background-color: white;
  border-radius: 5px;
}
.video-item_title {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
}

.video-item_player {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
.video-item_transcripts {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
}

.player-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.no-id-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  -webkit-animation: no-url-id 3s infinite 0s linear;
  animation: no-url-id 3s infinite 0s linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@keyframes no-url-id {
  0% {
    transform: scale(1);
    color: #00c1c0;
  }
  50% {
    transform: scale(1.5);
    color: #00c1c0;
  }
  70% {
    transform: scale(1);
  }
  85% {
    transform: rotate(xx) scale(1.5);
    color: #00c1c0;
  }
}
